<!DOCTYPE html>
<html>
    <head>
        <title>SEMEION CONCEPT - CIRCUIT CIRCUS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700,900|Roboto+Mono" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/showdownjs/showdown/1.8.6/dist/showdown.min.js"></script>
        <script language="javascript" type="text/javascript" src="/main-min.js"></script>
        <script language="javascript" type="text/javascript" src="/semeion-min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?tracking=1&thirdparty=1&always=1&showNoConsent=1&hideDetailsBtn=1&refreshPage=1"></script>

        <meta property="og:title" content="Circuit Circus">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://www.circuit-circus.com">
        <meta property="og:image" content="/images/open_graph_image.png">
        <meta property="og:description" content="Hi, we are Circuit Circus. A really good Interaction Design studio based in Copenhagen.">

        <meta name="description" content="Hi, we are Circuit Circus. A really good Interaction Design studio based in Copenhagen.">

        <meta name="google-site-verification" content="bB9q_fhQtVjf1Gb6gxCPl_xJ9Sw0Xo42PDl6xCzPorw">
    </head>

    <body class="concept-page" id="semeion-page">

        <header class="concept-header" id="home">
            <img src="/images/square_logo.svg" id="header-logo" alt="Circuit Circus logo">
        </header>

        <div class="concept-page-container">
            <div class="concept-page-content-">
                <%- body %>
            </div>
        </div>
    </body>
</html>
