<!DOCTYPE html>
<html>
    <head>
        <title>SEMEION CONCEPT - CIRCUIT CIRCUS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700,900" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/showdownjs/showdown/1.8.6/dist/showdown.min.js"></script>
        <script language="javascript" type="text/javascript" src="/main-min.js"></script>
        <script language="javascript" type="text/javascript" src="/semeion-min.js"></script>

        <meta property="og:title" content="Circuit Circus">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://www.circuit-circus.com">
        <meta property="og:image" content="/images/open_graph_image.png">
        <meta property="og:description" content="Hi, we are Circuit Circus. A really good Interaction Design studio based in Copenhagen.">

        <meta name="description" content="Hi, we are Circuit Circus. A really good Interaction Design studio based in Copenhagen.">

        <meta name="google-site-verification" content="bB9q_fhQtVjf1Gb6gxCPl_xJ9Sw0Xo42PDl6xCzPorw">
    </head>

    <body class="concept-page" id="semeion-page">

        <header class="concept-header" id="home">
            <img src="/images/square_logo.svg" id="header-logo" alt="Circuit Circus logo">
        </header>

        <div class="concept-page-container">
            <div class="concept-page-content-">
                <%- body %>
            </div>
        </div>

        <footer>
            <!-- Google analytics -->
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                    ga('create', 'UA-74656126-1', 'auto');
                    ga('send', 'pageview');
            </script>
        </footer>
    </body>
</html>
