<div class="page-container">
    <div class="page-content">

        <section class="introduction">
            <img src="/images/square_logo.svg" class="logo">

            <h1>Art / Tech Collective based in Copenhagen</h1>
            <h2>We craft well-designed and tangible computational things.</h2>
        </section>

        <section class="contact">
            <p>hello@circuit-circus.com</p>

            <a href="mailto:hello@circuit-circus.com">
                <img class="icon" src="/images/mail.svg">
            </a>
        </section>

        <section class="playmates-container">
            <h3><span>Playmates</span></h3>

            <a href="http://groupmdanmark.dk/" target="_blank">
                <div class="playmate-item" style="background-image: url('images/playmates_logos/groupm_logo_white.png')"></div>
            </a>
            <a href="http://www.trailerparkfestival.com/" target="_blank">
                <div class="playmate-item square-playmate" style="background-image: url('images/playmates_logos/trailerparkfestival_logo_white.png')"></div>
            </a>
            <a href="http://google.com/" target="_blank">
                <div class="playmate-item" style="background-image: url('images/playmates_logos/google_logo_white.png')"></div>
            </a>
            <a href="https://space10.io/" target="_blank">
                <div class="playmate-item square-playmate" style="background-image: url('images/playmates_logos/space10_logo_white.png')"></div>
            </a>
            <a href="http://www.clickfestival.dk/" target="_blank">
                <div class="playmate-item" style="background-image: url('images/playmates_logos/clickfestival_logo_white.png')"></div>
            </a>

        </section>
    </div>
</div>