extends ./layout.jade

block body
	div.welcome-container
		div.welcome
			img(src='/images/square_logo.svg', class='logo')

			h2 !{pagecontent.getStructuredText('page.description').asText(ctx.linkResolver)}

			div.contact
				!{pagecontent.getStructuredText('page.contact').asHtml(ctx.linkResolver)}

				a(href="mailto:hello@circuit-circus.com")
					img.icon(src="/images/mail.svg")