extends ./layout.jade

block body
	div.welcome-container
		div.welcome
			img(src='/images/square_logo.svg', class='logo')

			h1 Art / Tech Collective based in Copenhagen
			h2 We craft well-designed and tangible computational things.

			div.contact
				p hello@circuit-circus.com

				a(href="mailto:hello@circuit-circus.com")
					img.icon(src="/images/mail.svg")