<div class="welcome-container">
    <div class="welcome">
        <img src="/images/square_logo.svg" class="logo">

        <h1>Art / Tech Collective based in Copenhagen</h1>
        <h2>We craft well-designed and tangible computational things.</h2>

        <div class="contact">
            <p>hello@circuit-circus.com</p>

            <a href="mailto:hello@circuit-circus.com">
                <img class="icon" src="/images/mail.svg">
            </a>
        </div>
    </div>
</div>