extends ./layout.jade

block body
	div.welcome-container
		div.welcome
			img(src='/images/square_logo.svg', class='logo')

			h1 !{pagecontent.getStructuredText('page.description').asText(ctx.linkResolver)}
			h2 We craft well-designed and tangible computational things.

			div.contact
				p nhoejholdt@gmail.com

				a(href="mailto:nhoejholdt@gmail.com")
					img.icon(src="/images/mail.svg")