<img src="images/cc_members.png" alt="Members of Circuit Circus">

<p>
    We create interactive experiences, spaces and artifacts, focusing on creating novel and interesting encounters with technology. So far, we have worked with and exhibited at festivals, museums, conferences and public spaces, designing and producing everything from small tangible artifacts to large-scale installations.
</p>

<p>
    <strong>Circuit Circus consists of:</strong> Jesper Hyldahl Fogh, Thomas Sandahl Christensen, Victor Bayer Permild, Nina Cecilie Højholdt & Christian Sivertsen<br>
    We are currently based in Copenhagen, but with members in London & Eindhoven.
</p>