<h3>We're always interested in new, cool projects!</h3>
<p>Whether you're interested in a custom-made installation, a workshop/talk about prototyping or renting something from our repetoire, we can figure something out.</p>
<br>
<p>Send us an email at <a href="mailto:hello@circuit-circus.com">hello@circuit-circus.com</a> to get in touch 🚀</p>
<br><br>
<p>And don't forget to follow <a href="https://www.instagram.com/circuitcircus" target="_blank">@circuitcircus on Instagram</a>!</p>