

<h1><span>Hi, we are Circuit Circus 👋</span></h1>

<h2>A really good Interaction Design company</h2>

<div id="frontpage-description">
    We use electronics and code to build magic interactive experiences.
</div>
