<div class="page-single-container">
    <p class="page-single-body"></p>

    <div class="members-profile-container">
    	<div class="members-profile-item-container--template">
    		<div class="members-profile-image"></div>
    		<h3 class="members-profile-name"></h3>
    		<div class="members-profile-description"></div>
    	</div>
    </div>
</div>