
<article class="template projects-list-item">
    <a href="" class="projects-item-permalink" data-slug="">
        <div class="projects-item-cover-image"></div>
        <h2 class="projects-item-title"></h2> <h2 class="projects-item-year"></h2>
    </a>

    <div class="projects-item-divider"></div>
</article>