
<div class="projects-single-container">
    <h1 class="projects-single-title"></h1>

    <p class="strong projects-single-lead"></p>
    <p class="projects-single-body"></p>

    <div class="projects-single-video-container">
    	<div class="video-wrapper video-wrapper-template">
    		<video src="" autoplay loop></video>
    		<button class="mute muted"></button>
            <button class="fullscreen"></button>
    	</div>
    </div>

    <div class="projects-single-img-container">
    	
    </div>
</div>