
<article class="template projects-list-item">
    <div class="projects-item-cover-image"></div>
    <h2 class="projects-item-title"><a href="" class="projects-item-permalink" data-slug=""></a></h2>
    <p class="projects-item-paragraph"></p>
</article>