
<article class="template projects-list-single">
    <div class="projects-single-cover-image"></div>
    <h2 class="projects-single-title"><a href="" class="projects-single-permalink" data-slug=""></a></h2>
    <p class="projects-single-paragraph"></p>
</article>
