
<article class="template projects-list-item">
    <a href="" class="projects-item-permalink" data-slug="">
        <h2 class="projects-item-title"></h2>
        <p class="projects-item-paragraph"></p>
        <div class="projects-item-cover-image"></div>
    </a>

    <div class="projects-item-divider"></div>
</article>