<h1>Projects</h1>

<% projects.forEach(function(project) { %>
    <article>
        <h1><%= project.fields.title %></h1>

        <p class="strong"><%= project.fields.leadParagraph %></p>
        <p><%= project.fields.bodyText %></p>
    </article>
<% }); %>