<header>
	<h2>Timeline</h2>
	<p>The following is a list of significant events in the history of Circuit Circus.</p>
</header>
<li class="template activities-list-item">
	<strong class="activities-item-title"></strong>
	<span class="activities-item-descrip"></span>
	<span class="activities-item-meta">
		<span class="activities-item-location"></span>
		·
		<span class="activities-item-date"></span>
	</span>
</li>