
.concept-page {

    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5rem;

    .concept-header {
        width: 100%;
        text-align: center;
    }

    #header-logo {
        width: 100px;
        margin: 1.5rem;
    }

    .concept-page-container {
        width: 80vw;
        max-width: 900px;
        margin: 0 auto;
    }

    h1,
    h2 {
        color: #00f;
        text-align: center;
        font-family: 'Lucida Console', monospace;
        font-weight: 400;
    }

    h1 {
        font-size: 56px;
        margin-bottom: 1.5rem;
    }

    h2 {
        font-size: 26px;
        margin-bottom: 1.5rem;
    }

    .tagline {
        text-align: center;
        font-family: 'Lucida Console', monospace;
    }

    .inspiration-image-item {
        width: calc(33.33% - 1.5rem);
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
        float: left;
        
        padding-bottom: 20%;
        position: relative;
        background-size: cover;
        background-position: center;

        .image-number {
            display: flex;
            justify-content: center;
            align-items: center;

            background: #00f;
            color: #fff;
            height: 1.5rem;
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 1.5rem;
        }

        @media screen and (max-width: 1024px) {
            padding-bottom: 33%;
            width: calc(50% - 1.5rem);

            &:last-child {
                padding-left: 25%;
                padding-right: 25%;
                width: calc(100% - 1.5rem);
            }
        }

        @media screen and (max-width: 480px) {
            padding-bottom: 50%;
            width: calc(100% - 1.5rem);
        }
    }

    #inspiration p {
        clear: both;
    }

    .semeion-headline {
        border-bottom: 1px solid #00f;
        margin-bottom: 1.5rem;
    }

    nav {
        background: #00f;
        border-radius: 0 4px 4px 0;
        font-size: 0.9rem;
        height: auto;
        left: 0;
        padding: 0;
        pointer-events: auto;
        position: fixed;
        text-align: center;
        top: 30vh;
        width: 10vw;
        z-index: 999;

        @media screen and (max-width: 1024px) {
            display: none;
        }
    
        ul {
            margin: 0;
            padding: 0;

            a {
                color: #fff;
                transition: transform 300ms;

                &:first-child {
                    li {
                        border-top-right-radius: 4px;
                        padding-top: 0.25rem;
                    }
                }

                &:last-child {
                    li {
                        border-bottom-right-radius: 4px;
                        padding-bottom: 0.25rem;
                    }
                }

                li {
                    background: #00f;
                    padding: 0;
                    transition: transform 300ms;

                    &:hover {
                        transform: translateX(20px);
                    }
                }
            }
        }
    }

    .audio-player {
        margin: 0 auto 2rem auto;
        position: relative;
        text-align: center;
        width: 75%;

        audio {
            width: 100%;
        }
    }

    #sketches {
        p {
            text-align: center;
        }

        img {
            width: 49%;

            &:nth-child(even) {
                border-right: 3px solid #00f;
            }
        }
    }

    #downloads {
        clear: both;
    }

    #downloads p {
        text-align: center;
    }

    #downloads a {
        color: #000;
        display: inline-block;
        position: relative;
        transition: all 300ms ease-in-out;
    }

    #downloads a::before {
        background: transparent;
        bottom: -2px;
        border-color: #00f;
        border-style: solid;
        border-width: 0 0 2px 0;
        content: '';
        left: 0px;
        height: 100%;
        position: absolute;
        transition: all 300ms ease-in-out;
        width: 100%;
    }

    #downloads a:hover::before {
        transform: translateY(-90%);
    }

    #about h2 {
        margin-top: 2rem;
    }
}