nav {
    text-align: center;
    padding: 2rem 1rem 1rem;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 170px;

    #nav-logo {
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto;
    }

    .nav-item {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
        padding: 0.5rem;

        &:first-of-type {
            padding: 0;
        }
    }
}