

nav {
    text-align: center;
    padding: 2rem;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $nav-height;
    pointer-events: none;

    &.black-bg {
        #nav-logo {
            filter: saturate(0) invert(100%);
        }

        .nav-item span {
            color: #fff;
        }
    }

    .nav-item {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
        position: relative;
        margin: 0;
        pointer-events: auto;
        float: left;
       
        font-weight: 700;
        width: 25%;

        @media screen and (max-width: 412px) {
            margin-bottom: 10px;
            top: -10px;
        }
        
        span {
            color: #000;
            display: inline-block;
            padding: 0.5rem;
            transform: rotate(0deg);

            transition: transform 300ms ease-in-out;
        }

        &:not(:first-of-type):hover span {
            display: inline-block;
            transform: rotate(45deg);
        }

        &:not(:first-of-type).active span {
            display: inline-block;
            transform: rotate(180deg);
        }

        &:not(:first-of-type):hover.active span {
            transform: rotate(235deg);
        }
    }
}

#nav-logo {
    width: 100px;
    margin: 0 auto;
}

#cc-logo {
    width: 80px;    
    height: 80px;
    
    position: absolute;
    right: 20px;
    bottom: 20px;
}

nav.black-bg {
    #cc-logo {
        filter: saturate(0) invert(100%);
    }
}