.page-single-template {
	display: none;
}

.page-single {
	p {
		margin-bottom: 1rem;
	}
}

.active .page-single {
	animation: fadein 1s ease-in-out;
}

@keyframes fadein {
  from {
		opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.members-profile-container {
	margin: 0 auto;
	width: 100%;
	vertical-align: top;

	//display: flex;
	
	@media screen and (max-width: 940px) {
        flex-flow: row wrap;
    	justify-content: space-between;
    }
	
}

.members-profile-item-container {
	width: 20%;
	display: inline-block;
	margin: 0 auto 1rem;
	vertical-align: top;
	text-align: center;
	padding: 0 20px 0 0;

	@media screen and (max-width: 940px) {
        width: 33%;
    }

    @media screen and (max-width: 520px) {
        width: 50%;
    }

	.members-profile-image {
		width: 100%;
		padding-bottom: 100%;
		background-position: center center;
		background-size: cover;
		border-radius: 50%;
		filter: grayscale(100%);
	}

	.members-profile-name {
		text-transform: uppercase;
		margin: 1rem 0 0.5rem;
		font-size: 0.8rem;
		line-height: 1.1rem;
	}

	.members-profile-description p {
		font-size: 12px;
		margin-bottom: 0px;
	}


}