.projects-list-item {
    width: 100%;
    margin-bottom: 4rem;

    overflow: hidden;
    vertical-align: top;

    background-color: #fff;
    text-align: center;

    @media screen and (max-width: 480px) {
        margin-bottom: 2rem;
    }

    .projects-item-cover-image {
        width: 100%;
        padding-bottom: 30%;
        background-size: contain;
        background-position: center center;

        background-color: #eaeaea;

        @media screen and (max-width: 480px) {
            padding-bottom: 50%;
        }
    }

    .projects-item-title {
        position: relative;
        top: -25px;
        letter-spacing: 2px;
        background: #ffffff;
        color: #0000ff;
        padding: 5px 20px 0;
        display: inline-block;
        max-width: 90%;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        font-weight: 700;
    }

    .projects-item-paragraph {
        font-size: 20px;
        padding: 0px 20px;
        position: relative;
        top: -10px;

        @media screen and (max-width: 480px) {
            font-size: 16px;
            text-align: justify;
        }
    }

    &.template {
        display: none;
    }
}