.projects-single-template {
	display: none;
}

.projects-single-container {
	margin-bottom: 20px;
}

.projects-single-section {
	background: #fff;
}

.projects-single-container .strong {
	font-weight: bold;
}

.projects-single-container em {
	font-style: italic;
}

.projects-single-title {
	margin-bottom: 40px;
	word-wrap: break-word;
}

.projects-single-lead {
	margin-bottom: 10px;
}

.page-content p a {
	color: #000;
	display: inline-block;
	position: relative;
	transition: all 300ms ease-in-out;
}

.page-content p a::before {
	background: transparent;
	bottom: -2px;
	border-color: #00f;
	border-style: solid;
	border-width: 0 0 2px 0;
	content: '';
	left: 0px;
	height: 100%;
	position: absolute;
	transition: all 300ms ease-in-out;
	width: 100%;
}

.page-content p a:hover::before {
	transform: translateY(-90%);
}

.projects-single-body {
	padding-bottom: 1rem;
}

.projects-single-video-container {
	margin-bottom: 5px;
	position: relative;

	.video-wrapper {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.mute {
			background-color: white;
			background-size: 24px;
			border: none;
			bottom: calc(1.5rem + 12px);
			cursor: pointer;
			display: inline;
			height: 24px;
			margin: .25rem 0 0 0;
			padding: 0;
			position: absolute;
			right: 12px;
			transition: none;
			width: 24px;

			&:hover {
				outline: 1px solid #00f;
			}

			&.unmuted {
				background-image: url('../images/icons/volume_on.png');
			}

			&.muted {
				background-image: url('../images/icons/volume_off.png');
			}
		}
	}

	.video-wrapper-template {
		display: none;
	}

	video {
		cursor: pointer;
		height: auto;
		margin-bottom: 1.5rem;
		width: 100%;

		&:hover {
			opacity: 0.9;
		}
	}
}

.projects-single-img-container .projects-single-img {
	box-sizing: border-box;
	margin-bottom: 5px;
	position: relative;

	img {
		background-color: #00f;
		border: 0 solid #00f;
		height: 512px;
		transition: all 300ms ease-in-out;
		width: auto;

		&:hover {
			border: 6px solid #00f;
		}

		@media screen and (max-width: 1024px) {
		    height: 360px;
		    max-width: 900px;
		}

		@media screen and (max-width: 720px) {
			height: auto;
			width: 100%;
		}

		@media screen and (max-width: 480px) {
			height: auto;
			width: 100%;
		}
	}

	.projects-single-img-description {
		position: absolute;
		bottom: 20px;
		background-color: #fff;
		padding: 2px 7px;
		font-size: 10px;
		letter-spacing: 1px;
	}

	&:nth-child(odd) {
		text-align: left;
		transform: translateX(-30px);

		.projects-single-img-description {
			left: 10px;
		}

		@media screen and (max-width: 480px) {
			text-align: center;
			transform: translateX(0px);
		}
	}

	&:nth-child(even) {
		text-align: right;
		transform: translateX(30px);

		.projects-single-img-description {
			right: 10px;

			@media screen and (max-width: 480px) {
				left: 10px;
				right: unset;
			}
		}

		@media screen and (max-width: 480px) {
			text-align: center;
			transform: translateX(0px);
		}
	}

	&::last-of-type {
		margin-bottom: 2rem;
	}
}