.projects-single-section {
	background: #fff;
}

.projects-single-container .strong {
	font-weight: bold;
}

.projects-single-container em {
	font-style: italic;
}

.projects-single-title {
	margin-bottom: 40px;
	word-wrap: break-word;
}

.projects-single-lead {
	margin-bottom: 10px;
}

.page-content p a {
	color: #000;
	position: relative;
	transition: all 300ms ease-in-out;
}

.page-content p a::before {
	background: transparent;
	bottom: -2px;
	border-color: #00f;
	border-style: solid;
	border-width: 0 0 2px 0;
	content: '';
	left: 0px;
	height: 100%;
	position: absolute;
	transition: all 300ms ease-in-out;
	width: 100%;
}

.page-content p a:hover::before {
	transform: translateY(-90%);
}

.projects-single-body {
	padding-bottom: 1rem;
}


.projects-single-video-container {
	margin-bottom: 5px;
	position: relative;

	.video-wrapper {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.mute {
			cursor: pointer;
			color: #00f;
			display: inline;
			margin: .25rem 0 1rem 0;
			padding: 0;
		}
	}

	video {
		cursor: pointer;
		height: auto;
		width: 100%;

		&:hover {
			opacity: 0.9;
		}
	}
}

.projects-single-img-container img {
	border: 0 solid #00f;
	box-sizing: border-box;
	height: auto;
	margin-bottom: 5px;
	position: relative;
	transition: all 300ms ease-in-out;
	width: 100%;
}

.projects-single-img-container img:nth-child(odd) {
	transform: translateX(-30px);
}

.projects-single-img-container img:nth-child(even) {
	transform: translateX(30px);
}

.projects-single-img-container img:hover {
	border: 6px solid #00f;
}

.projects-single-img-container img::last-of-type {
	margin-bottom: 2rem;
}