
.page-container {
    position: relative;
    width: 100vw;
    transition: transform 0.4s ease-in-out;
}
.page-section {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;

    &[data-id='home'] {
        background-color: pink;
        background: linear-gradient(to right, pink, orange);
    }

    &[data-id='projects'] {
        background-color: orange;
        background: linear-gradient(to right, orange, tomato);
        left: 100vw;
    }

    &[data-id='workshops'] {
        background-color: tomato;
        left: 200vw;
    }

    &[data-id='about'] {
        background-color: mediumseagreen;
        left: 300vw;
    }

    &[data-id='contact'] {
        background-color: tomato;
        left: 400vw;
    }

    .page-content {
        position: relative;
        top: 200px;
        left: 0;
        right: 0;
        width: 90%;
        margin: 0 auto 2rem;
    }
}


