
.page-container {
    position: relative;
    width: 100vw;
    transition: transform 0.2s ease-in-out;
}

.page-section {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;

    &[data-id='home'] {
        //background-color: #fafafa;
        //background: linear-gradient(to right, pink, orange);

        .page-content {

            text-align: center;

            h1 {
                margin: 3rem 0 2rem;
            }
        }
    }

    &[data-id='projects'] {
        background-color: #ffffff;
        //background: linear-gradient(to right, orange, tomato);
        left: 100vw;
    }

    &[data-id='about'] {
        background-color: #ffffff;
        left: 200vw;
    }

    &[data-id='contact'] {
        background-color: #fafafa;
        left: 300vw;
    }

    .page-content {
        position: relative;
        top: 220px;
        left: 0;
        right: 0;
        width: 90%;
        max-width: 800px;
        margin: 0 auto 2rem;
    }
}


