
.page-container {
    position: relative;
    width: 100vw;
    transition: transform 0.2s ease-in-out;
}

.page-section {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;

    display: none;

    &.active {
        display: block;
    }

    &[data-id='home'] {

        .page-content {
            text-align: center;

            h1 {
                margin: 3rem 0 2rem;
            }
        }
    }

    &[data-id='projects'] {

        .projects-list-single {
            width: calc(50% - 1.5rem);
            margin-right: 3rem;
            margin-bottom: 2rem;
            height: 310px;

            display: inline-block;
            overflow: hidden;
            vertical-align: top;

            &:nth-of-type(odd) {
                margin-right: 0;
            }

            .projects-single-cover-image {
                width: 100%;
                padding-bottom: 60%;
                background-size: cover;

                background-color: #eaeaea;
            }

            .projects-single-title {
                position: relative;
                top: -25px;
                left: 15px;
                font-size: 2rem;
            }

            .projects-single-permalink {
                background: #ffffff;
                color: #0000ff;
                padding: 0 5px;
            }

            .projects-single-paragraph {
                position: relative;
                top: -20px;
            }

            &.template {
                display: none;
            }
        }
    }

    &[data-id='about'] {
    }

    &[data-id='contact'] {
    }

    .page-content {
        position: relative;
        top: 220px;
        left: 0;
        right: 0;
        width: 85%;
        max-width: 800px;
        margin: 0 auto 2rem;
    }
}


