<h1>Petri</h1>
<h2>An interactive art piece exploring data consent, data traces and data access</h2>

<p>Hoi STRP, heerlijk om jullie te zien!</p>
<p>We hope that you enjoy our concept. If you have any questions, don't hesitate to reach out at <a href="mailto:hello@circuit-circus.com">hello@circuit-circus.com</a>. We'll get back to you before you can say 'hagelslag'.</p>

<p>Back to our <a href="/">main site</a>.</p>
