<h1>Semeion</h1>
<p class="tagline">An ever-evolving interactive light installation about collective behavior</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure eveniet suscipit nulla voluptate, consequatur itaque eius expedita, nihil quis quod est nemo error distinctio, voluptatem labore minus a quas dolore! <br>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos officia, numquam porro, nobis facere ab fugiat quam, labore laboriosam quia deleniti asperiores cupiditate aspernatur nihil? Adipisci ipsam voluptatibus repellat reprehenderit!</p>

<h2>Moodboard</h2>

<section class="moodboard-container">
    <div class="moodboard-image-item" style="background-image: url('https://i.pinimg.com/736x/c5/ff/c7/c5ffc740044c4fe8dc71105132630ddc--cool-rocks-rock-sculpture.jpg')">
    </div>
    <div class="moodboard-image-item" style="background-image: url('https://i.pinimg.com/564x/dc/ff/66/dcff6615cffd32fb114996b4b654dc13.jpg')">
    </div>
    <div class="moodboard-image-item" style="background-image: url('https://i.pinimg.com/564x/8d/f3/e8/8df3e8fb3d9e8e34af192140ae937f8e.jpg')">
    </div>
    <div class="moodboard-image-item" style="background-image: url('https://i.pinimg.com/564x/11/8f/05/118f056ac95bcef906f9b88220068a80.jpg')">
    </div>
    <div class="moodboard-image-item" style="background-image: url('https://i.pinimg.com/564x/64/3c/ed/643ced011adb0e5996c568a162dd8628.jpg')">
    </div>
</section>