<nav>
    <ul>
        <a href="#home"><li>↑ Top</li></a>
        <a href="#artistic-vision"><li>Artistic vision</li></a>
        <!--<a href="#simulation"><li>Simulation</li></a>-->
        <a href="#sketches"><li>Sketches</li></a>
        <a href="#in-detail"><li>In detail</li></a>
        <a href="#moodboard"><li>Moodboard</li></a>
        <a href="#downloads"><li>Downloads</li></a>
        <a href="#about"><li>About us</li></a>
    </ul>
</nav>

<section class="semeion-headline">
    <h1>Semeion</h1>
    <p class="tagline">An ever-evolving interactive light installation about collective behavior</p>
</section>

<section id="artistic-vision">
    <h2>Artistic Vision</h2>
    <p>Semeion is an Internet of Beings.</p>
    <p>Semeion exists between the artificial and the organic.</p>
    <p>Semeion is an evolving species.</p>
    <p> 
        Semeion is a group of Beings that communicate with humans through touch and proximity. They express themselves through light and sound. Since they are social creatures, the Beings signal their fellows and share their experiences as they engage in communication with the humans.
    </p>
    <p>
        The Beings also evolve over time. If they have experienced aggression in their lives, they may become accustomed to it, and hardly able to react to anything else. Perhaps a single Being has experienced much kindness, but its fellows are only used to a different behavior. The kind Being may have to adapt to its surroundings, and follow its fellows' signals.
    </p>
    <p>
        Semeion is a complex ecosystem of artificial Beings that express themselves as organic light creatures. Through our human bodies we can choose how to engage with them as they choose how to engage with us. Semeion is our way of exploring how the relation between humans and technology can be more humane, embodied and dynamic than what we are accustomed to.
    </p>
</section>

<!--<section id="simulation">
    <h2>Simulation</h2>
    <div class="concept-video-container">
        <div class="video-wrapper">
            <video src="/files/concept/semeion/semeion_simulation.mp4" type="video/mp4" autoplay="" loop="" muted="">
              <p>Your browser doesn't support HTML5 video. Here is a <a href="/files/concept/semeion/semeion_simulation.mp4">link to the video</a> instead.</p>
            </video>
            <button class="mute muted"></button>
            <button class="fullscreen"></button>
        </div>
    </div>
</section>-->

<section id="sketches">
    <h2>Concept sketches</h2>
    <img src="/images/concept/semeion/aerial_semeion_details.png">
    <img src="/images/concept/semeion/semeion_height_interaction.png">
    <p>
        <strong>Left</strong> Overhead view of an example layout.</br>
        <strong>Right</strong> A visitor interacting with a Being
    </p>
</section>

<section id="in-detail">
    <h2>In detail</h2>
    <h3>The physical</h3>
    <p>
        Each Being presents itself as a glowing crystalline structure. They exist in varying sizes, some reaching almost the height of an average human. The Beings communicate with humans through light and sound, and they glow in a defined spectrum of colors. As such, the light intensity of a Being, its color and its audio expression may change over time in an attempt to convey its feelings in relation to human interaction.
    </p>
    <h3>The interactive</h3>
    <p>
        A Being is able to detect human proximity as well as human touch. Through these modes, a human can convey sentiment towards the Being, be it fear, respect, curiosity or something else. Depending on its earlier experiences, a Being may light up in anticipation of contact from an approaching human, or it may pulsate brightly as a warning sign due to previous poor experiences with humans. Once close, humans can also express themselves through touch. The Beings could be treated as pets in need of attention and as such receive a prolonged caress. Or a Being may be seen by the human as a machine whose inner action-reaction flow must be explored and deduced. No matter what, Semeion will remember the interaction and evolve.
    </p>
    <h3>The temporal</h3>
    <p>
        As time passes and the Beings accrue a bank of experiences, they will adapt together. Perhaps they find that showing humans a soft turquoise light followed by a clicking sound encourages caresses, and as such this could be their preferred state. Maybe they find that humans can be rough when engaging with machines, and therefore they want to coax us into being softer, and they may find that the best way to do this is to emit low frequency sounds accompanied by a bright blue pulse.
    </p>
</section>

<section class="moodboard-container" id="moodboard">
    <h2>Moodboard</h2>
    <div class="moodboard-image-item" style="background-image: url('/images/concept/semeion/swarm.gif')">
    </div>
    <div class="moodboard-image-item" style="background-image: url('/images/concept/semeion/c5ffc740044c4fe8dc71105132630ddc--cool-rocks-rock-sculpture-magic.jpg')">
    </div>
    <div class="moodboard-image-item" style="background-image: url('/images/concept/semeion//dcff6615cffd32fb114996b4b654dc13.jpg')">
    </div>
    <div class="moodboard-image-item" style="background-image: url('/images/concept/semeion/d166f860908d5b0a6e70e17755075af6.jpg')">
    </div>
    <div class="moodboard-image-item" style="background-image: url('/images/concept/semeion/118f056ac95bcef906f9b88220068a80.jpg')">
    </div>
    <div class="moodboard-image-item" style="background-image: url('/images/concept/semeion/643ced011adb0e5996c568a162dd8628.jpg')">
    </div>
    <div class="moodboard-image-item" style="background-image: url('/images/concept/semeion/cd4d76c6d8999e561e41828a99559fbd.jpg')">
    </div>
    <div class="moodboard-image-item" style="background-image: url('/images/concept/semeion/01-dune-hand-studio-roosegaarde.jpg')">
    </div>
    <div class="moodboard-image-item" style="background-image: url('/images/concept/semeion/glow_circle.gif')">
    </div>
</section>

<section id="downloads">
    <h2>Downloads</h2>
    <p><a href="/files/concept/semeion/semeion_tech_specs.pdf">Tech Specs (.pdf)</a></p>
    <p><a href="/files/concept/semeion/semeion_budget.pdf">Budget (.pdf)</a></p>
    <p><a href="/files/concept/semeion/semeion_concept_description.pdf">Concept Description (.pdf)</a></p>
    <!--<p><a href="/files/concept/semeion/semeion_simulation.mp4">Simulation Video (.mp4)</a></p>-->
    <p><a href="/files/concept/semeion/semeion_package.zip">Everything together (.zip)</a></p>
</section>

<section id="about">
    <h2>About us</h2>
    <p>Circuit Circus is a Copenhagen-based interaction design studio, formed in 2015. We are a group of five interaction designers, all with experience and education in art, programming and fabrication.
    <p>We create interactive experiences, spaces and artifacts, working with computation as a material.</p>
    <p>Our work is in the intersection between people and technology, exploring how we might go beyond the utilitarian and use computation to create novel and interesting encounters.</p>
    <p>We have worked with and exhibited at festivals, museums, conferences and public spaces.</p>
    </p>
</section>