$text-color: #000000;
$nav-height: 170px;

@import 'partials/reset';

*::-moz-selection {
    background-color: #00f;
    color: #fff;
}

*::selection {
    background-color: #00f;
    color: #fff;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    width: 100%;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;

    font-family: 'Roboto Mono', sans-serif;
    line-height: 1.75;
}


@import 'partials/base';
@import 'partials/navigation';
@import 'partials/structure';
@import 'partials/projects-list';
@import 'partials/projects-single';
@import 'partials/pages-single';
@import 'partials/loading';
// @import 'partials/concept-page';
// @import 'partials/barebones-page';
@import 'partials/cookiebar'; 
